body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    min-height: 100vh;

}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 2px solid black;

}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}


.content{
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}

.footer{
    border: 2px solid black;

}