body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px 150px;
    background-color: #1F2937;
    color: white;

}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}


.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer{
    background-color: #1F2937;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.section-one{
    flex-grow: 1;
    background-color: #1F2937;
    display: flex;
    color: white;
    justify-content: center;
    gap: 40px;
    padding: 100px 150px;
}
.section-one div{
    flex: 1;
}
.image-container img{
    width: 100%;
    border-radius: 15px;
}
.section-two{
    flex-grow: 1;
}
.section-three{
    flex-grow: 1;
    background-color: #e5e7eb;
}
.section-four{
    flex-grow: 1;
}


h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
p, .links {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 5px 30px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
}